Package: com.yourcompany.elevatedgliders
Name: ElevatedGliders
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: BigTimeLegend
Author: BigTimeLegend
Section: Tweaks
Version: 0.0.1-7
Installed-Size: 72
